# datetime

In [2]:
from datetime import datetime
import pandas as pd

2020-09-06 20:04:21.750518

In [24]:
now = datetime.now()
now

datetime.datetime(2020, 9, 6, 20, 25, 24, 362280)

In [25]:
type(now)

datetime.datetime

In [26]:
print (now.year)
print (now.month)
print (now.day)

2020
9
6

In [27]:
print (str(now.month) + "/" + str(now.day) + "/" + str(now.year))

9/6/2020

In [28]:
print (str(now.hour) + ":" + str(now.minute) + ":" + str(now.second))

20:25:24

# to_datetime

In [29]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [30]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [31]:
pd.to_datetime('20200901', format='%Y%m%d', errors='ignore')

Timestamp('2020-09-01 00:00:00')

In [32]:
d = pd.to_datetime('2020/09/01', format='%Y%m%d', errors='ignore')
d

'2020/09/01'

In [33]:
type(d)

str

In [34]:
d = pd.to_datetime('2020/09/01', format='%Y/%m/%d', errors='ignore')
d

Timestamp('2020-09-01 00:00:00')

In [35]:
type(d)

pandas._libs.tslibs.timestamps.Timestamp

- 데이터프레임의 유용한 함수
 - asfreq()
 - resample()

# date_range

In [37]:
pd.date_range(start='1/1/2020', end='1/08/2020')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='D')

In [38]:
pd.date_range(start='1/1/2020', periods=8)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(end='1/1/2020', periods=8)

DatetimeIndex(['2019-12-25', '2019-12-26', '2019-12-27', '2019-12-28',
               '2019-12-29', '2019-12-30', '2019-12-31', '2020-01-01'],
              dtype='datetime64[ns]', freq='D')

In [45]:
pd.date_range(start='2020-09-01', end='2020-09-10', periods=4)

DatetimeIndex(['2020-09-01', '2020-09-04', '2020-09-07', '2020-09-10'], dtype='datetime64[ns]', freq=None)

In [46]:
pd.date_range(start='2020-09-01', end='2020-09-10', periods=5)

DatetimeIndex(['2020-09-01 00:00:00', '2020-09-03 06:00:00',
               '2020-09-05 12:00:00', '2020-09-07 18:00:00',
               '2020-09-10 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [47]:
pd.date_range(start='1/1/2018', periods=5, freq='M')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31'],
              dtype='datetime64[ns]', freq='M')

In [48]:
pd.date_range(start='1/1/2018', periods=5, freq='3M')

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [49]:
pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31'],
              dtype='datetime64[ns]', freq='3M')